@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
}
body {
  margin: 0;
  font-family: Raleway;
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 600;
  font-style: normal;
  background-color: #ffffff;
  /* width: 100%; */
  /* width: 1440px;  */
  line-height: 24px;
  /* padding: 0 140px; */
}
:root {
  --horizontal-value: 140px;
  --vertical-value: 120px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.section-padding {
  padding: var(--vertical-value) var(--horizontal-value);
}
.link {
  color: #000;
  text-decoration: none;
}
.header {
  display: flex;
  align-items:center;
  /* font-size: 16px; */
  /* justify-content: space-between; */
  padding-top: 30px;
  padding-left: var(--horizontal-value);
}
.header__navigation {
  height: 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;

}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.header__logo {
  text-transform: uppercase;
  outline: 2px solid #000;
  height: 32px;
  font-weight: 600;
  width: 109px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items:center;
  line-height: 24px;
}
.main-section__topic {
  max-width: 850px;
  margin-bottom: 40px;
}
.main-icon {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 66px;
  left: 80%;
  font-size: 110px;
  line-height: 110px;
  height: 111px;
  width: 110px;
  margin: 0 auto;
}
.description-icon-award-wrap{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 70%;
  left: 157px;

}
.section-application{
  position: relative;
}
.section-applicaion__icon-lightning{
  position: absolute;
  top: 168px;
  left: 141px;
  height:100px;
  width: 100px;
}
.section-applicaion__icon-human{
  position: absolute;
  top: 642px;
  left: 1082px;
  width: 170px;
  height: 170px; 
}
.section-applicaion__icon-message{
  position: absolute;
  top: 700px;
  left: 250px;
  height:140px;
  width: 140px;
}
.icon-message{
  width: 56px;
}
.section-applicaion__icon-human{
  position: absolute;
  top: 10px;
}
.section-description{
  position: relative;
}
.description-icon-award, .clock{
 width: 40px;
}
.clock{
  position: absolute;
  top: 2100px;
  left:100px;
}
.clock-block{
  position: absolute;
  top: 4000px;
  left:100px;

}
.icon{
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.main-icon-lightning{
  width: 40px;
height: 40px;
position: absolute;
top: 444px;
left: 83%;

}

.main-icon-message{
  width: 28px;
  position: absolute;
top: 382px;
left: 20%;
}
h1 {
  line-height: 64px;
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
/* .main-section{
  padding: 120px 0;
} */
.main-section__describe-wrap {
  height: 48px;
  max-width: 484px;
  width: 60%;
  /* font-size: 16px; */
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items:center;
  /* justify-content: center; */
  /* margin-bottom: 40px;
  margin-top: 40px; */
}
.button {
  font-weight: 500;
  /* font-size: 16px; */
  height: 56px;
  border: none;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  font-family: Raleway;
}
.main-section__button-telegram {
  background-color: #000;
  color: #ffffff;
  width: 215px;
}

.main-section__button-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 16px;

  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}
.triangle {
  width: 24px;
  height: 24px;
}
.main-section__button-video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  outline: 2px solid #181818;
  width: 215px;
  /* height: 56px; */
  background-color: inherit;
}
.section-works {
  padding-left: var(--horizontal-value);
  padding-right: var(--horizontal-value);
}
.section-works__list-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 17px;
}
.section-works__option {
  outline: 1px solid #000;
  border-radius: 1rem;
  padding: 4px 16px;
}
.section-works__list-options-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.section-works__image-wrap {
  /* padding: 0 140px; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-works__couple-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
  gap: 40px;
}
.section-works__works-image {
  width: 100%;
  border-radius: 0.5rem;
}
.section-description__person-image {
  height: 100%;
  border-radius: 16px;
  padding-left: 7.3%;
}

.section-description__description-wrap {
  /* width: 997px; */
  /* height: 560px; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-top: 120px; */
}
.section-description__description-text {
  padding: 40px 0 40px 40px;
  /* padding: 120px 40px; */
  font-weight: 400;
  /* margin-bottom: 120px; */
}
.person-achievement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  /* width: 79px; */
  /* height: 88px; */
}
.section-description__person-achievements {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.person-achievement__topic {
  font-size: 24px;
  margin: 0;
}
.section-servicies {
  width: 100%;
  /* height: 768px; */
  background-color: #181818;
  padding: var(--vertical-value) 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.servicies__servicies-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
}
.servicies__item {
  padding: 40px;
  background-color: #fff;

  border-radius: 1rem;
  width: 368px;
}
hr {
  width: 80px;
  margin: 56px 0;
  opacity: 0.2;
  border: 0.5px solid #181818;
}
.servicies__topic {
  color: #fff;
  text-align: center;
  margin-bottom: 80px;
}
.servicies__item-number {
  color: #181818;

  opacity: 0.5;
}
.servicies__item-description {
  margin: 0;
}

.section-couinting-cost {
  width: 100%;
}

.form-wrap {
  max-width: 448px;
  width: 90%;
  border-radius: 16px;
  margin: 0 auto;
  outline: 1px solid #cccccc;
  padding: 40px 24px;
}

.counting-cost__topic {
  margin-bottom: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto 40px auto;
}
.counting-cost-form__project-param {
  /* height: 48px; */
}
.input-block {
  border-radius: 8px;
  border: none;
  padding: 12px 16px;
  color: #808080;
  outline: 1px solid #cccccc;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  font-family: Raleway;

  /* font-style: normal; */
}
.counting-cost-form__checkbox-wrap {
  padding-left: 25px;
  position: relative;
}
.checkbox-label {
  margin: 0;
  width: 331px;
}
.checkbox-label:after{
  content:' ';
  border: 1px solid #808080;
  border-radius: 4px;
  height: 16px;
  display:block;
  width: 16px;
  background-color:inherit;
  top:0;
  left:0;
  z-index: 0;
  position: absolute;
}
.checkbox-label:hover::after{
  border: 1px solid #69CB39;
}
.checkbox:checked + .checkbox-label:after{
	border: 1px solid #000;
	background-color:#000;
}
.checkbox{
  opacity: 0;
  margin: 0;
  z-index: 1;
  position: absolute;
  top:1px;
  left:1px;

}

.counting-cost__button,
.button-form {
  margin-top: 16px;
  background-color: #181818;
  color: #fff;
  width: 100%;
  font-weight: 600;
}


.param-size {
  opacity: 0.5;
}

.counting-cost-calc-container__topic {
  font-size: 32px;
  line-height: 64px;
  
}
.counting-cost__calc-container {
  padding: 40px 24px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  outline: 1px solid #cccccc;
  border-radius: 0 0 16px 16px;
}
.counting-cost-calc-container__block {
  /* font-size: 16px; */
  font-weight: 400;
}
.counting-cost-calc-container__block-span {
  font-size: 20px;
  font-weight: 600;
}

.section-questions {
  /* padding-left: 140px;
  padding-right: 140px; */
  background-color: #181818;
  color: #fff;
}
.questions__questions-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.invisible {
  display: none;
}
.questions__question-container {
  background-color: #fff;
  color: #000000;
  padding: 32px 40px;
  border-radius: 16px;
}
.questions__item {
  /* background-color:#fff; */

  display: flex;
  justify-content: space-between;
}
.questions-item__plus {
  width: 10px;
  height: 20px;
  position: relative;
  display: block;
}
.questions-item__plus::after,
.questions-item__plus::before {
  position: absolute;
  top: 3px;
  right: 35px;
  width: 2px;
  height: 20px;
  content: "";
  background-color: #000;
}

.questions-item__plus::after {
  transform: rotate(-90deg);
}
.questions-item__list-item {
  list-style: circle;
}
#contain-answer::after {
  transform: rotate(135deg);
}
#contain-answer::before {
  transform: rotate(45deg);
}

.section-application {
  padding: var(--vertical-value) 0 160px 0;
  width: 100%;
}
.application__topic-addition {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 80px;
}
.application__form-wrap {
  width: 448px;
  margin: 0 auto;
}
.application-form__large-input {
  height: 160px;
}
.questions__topic{
  margin-bottom: 80px;
}
@media (max-width: 1240px) {
  .servicies__item{
    width:94%;
    margin-left: 3%;
    padding: 25px;
    
  }
  .main-icon{
    display: none;
  }
  .servicies__servicies-wrap{
    gap: 10px;
    padding: 0 30px ;
  }
  :root{
    --horizontal-value: 80px;
    --vertical-value: 60px;
  }
}
@media (max-width: 900px) {
  .main-section__topic{
    font-size: 5vw;
    line-height: 5vw;
  }
  body {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }
  .h2 {
    font-size: 3.1vw;
    line-height: 4.2vw;
  }
  h3{
    font-size: 2.5vw;
  }
  .person-achievement__topic{
    font-size: 2.5vw;
  }
  :root {
    --horizontal-value: 20px;
    --vertical-value: 40px;
  }
  .servicies__servicies-wrap {
    grid-template-columns: repeat(2, 1fr); 
    gap: 14px;
    
  }
  .icon {
    display: none;
  }
  .section-description__person-image {
    width: 50%;
    /* height: auto; */
  }
  .section-description__description-text {
    width: 40%;
    padding: 0px 0px 20px 20px;
  }
  .section-description__person-achievements {
    gap: 1em;
  }

  .servicies__topic{
    margin-bottom: 5vw;
  }
  .button{
    height: 40px;
    font-size: 2vw;
  }
  hr{
    margin: 6vw 0;
  }
  .servicies__item{
    /* width: 40%; */
    padding: 30px;
  }
  .servicies__item{
    width:90%;
    margin-left: 5%;
  }
  .header__logo{
    height: 4vw;
    width: auto;
    padding: 0 4px;
    
  }
  .questions__topic{
    margin-bottom: 30px;
  }
}

@media (max-width: 578px) {
  .header__navigation-list{
    gap:12px;
  }
  .servicies__servicies-wrap {
    
    grid-template-columns: 1fr;
    gap: 14px;
  }
  .counting-cost__form-wrap{
    width: 80%;
  }
  .input-block{
    width: 100%;
    font-size: 2.5vw;
  }
  .counting-cost__calc-container{
    width: 70%;
  }
  .section-description__person-image{
    padding:0;
    /* width: 50%; */
  }
  .section-description__description-text{
    width: 50%;
  }
  .counting-cost__calc-container{
    height:auto;
  }
  .counting-cost-calc-container__topic{
    font-size: 3vw;
    line-height: 4.1vw;
    margin:0;
    /* margin-bottom: 20px; */
  }
  .counting-cost-calc-container__block-span{
    font-size: 2.6vw;
  }
  .counting-cost__topic {
    margin-bottom: 40px;
  }
  .questions-item__plus::after, .questions-item__plus::before{
   
    width: 1px;
    height: 2.5vw;
  }
  .application__topic-addition{
margin-bottom: 40px;
font-size: 2.6vw;
  }
  .header__logo{
    outline: 1px solid #000;
  }
}

